.img1{
    margin-top: 10px;
}
nav{
    background-color: #393e46;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
body{
    background-color: #222831;
}
.block1{
    margin-top: 15px;
    color: white;
}

#card1{
    text-align: center;
    margin: auto;
    padding: 20px;
}
#firstDiv{
    margin-left: 50px;
    padding-left: 50px;
}